# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.venv/
venv/
ENV/

# Tests
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Base de données
app-pgdata/
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

